<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="login" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>email</mat-label>
    <input matInput type="email" formControlName="email" />
  </mat-form-field>

  <button
    mat-raised-button
    class="search-button"
    [color]="isSearchInProgress ? 'warn' : 'accent'"
    (click)="triggerSearch.next(isSearchInProgress)"
  >
    <ng-container *ngIf="!isSearchInProgress; else stop">Search</ng-container>
    <ng-template #stop>Stop</ng-template>
  </button>
</form>
