<form class="search-filter" [formGroup]="form">

  <button *ngLet="isSearching$ | async as isSearching"
          mat-raised-button
          class="search-button"
          [color]="isSearching ? 'warn' : 'accent'"
          (click)="triggerSearch(isSearching)">
    <ng-container *ngIf="!isSearching; else stop">Search</ng-container>
    <ng-template #stop>Stop</ng-template>
  </button>
</form>
<githubsearch-search-results-table class="results-table" [users]="users$ | async">
  <mat-paginator [length]="totalCount$ | async"
                 [pageSize]="pageSize$ | async"
                 (page)="onPagination($event)"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</githubsearch-search-results-table>

<div class="error-message"></div>

<githubsearch-user-details class="user-details" [user]="selectedUser$ | async">
</githubsearch-user-details>



