<div class="search-filter">
  <githubsearch-search-filter-form [isSearchInProgress]="isSearching$ | async" (triggerSearch)="triggerSearch($event)">
  </githubsearch-search-filter-form>
  <mat-progress-bar mode="indeterminate" *ngIf="isSearching$ | async"></mat-progress-bar>
</div>

<githubsearch-search-messages class="messages"></githubsearch-search-messages>

<githubsearch-search-results-table class="results-table" [users]="users$ | async">
  <mat-paginator
    [length]="totalCount$ | async"
    [pageSize]="pageSize$ | async"
    (page)="onPagination($event)"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator>
</githubsearch-search-results-table>

<githubsearch-user-details class="user-details" [user]="selectedUser$ | async"></githubsearch-user-details>
