:host {
  display: grid;
  height: inherit;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr 4fr;
  grid-template-areas:
    'form form'
    'messages messages'
    'list details';
  box-sizing: border-box;
}

.search-filter {
  padding: 0.5rem 1rem;
  grid-area: form;
}

.results-table {
  padding: 0 1rem;
  grid-area: list;
}

.user-details {
  grid-area: details;
  padding: 0 1rem;
}

.messages {
  grid-area: messages;
  padding: 0.5rem 1rem;
}
