<p>search-page works!</p>

<button color="accent" mat-raised-button (click)="triggerSearch()">Search</button>

<br>

<div class="progress-bar-holder">
  <ng-container *ngIf="searchProgress$ | async as searchProgress">
    <mat-progress-bar [value]="searchProgress"></mat-progress-bar>
  </ng-container>
</div>

<br>
<githubsearch-search-results-table class="mat-elevation-z8" [users]="users$ | async">
  <mat-paginator [length]="totalCount$ | async"
                 [pageSize]="pageSize$ | async"
                 (page)="onPagination($event)"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</githubsearch-search-results-table>


